:root {
    --mainbgcolor: #eff5ef;
    /* --mainbgcolor: #6f6f6f; */
    --bordercolor: #0288d147;
    --containerwidth: 500px;
}

body,
html {
    font-family: system-ui;
    background-color: var(--mainbgcolor);
    height: 100%;
    padding: 0;
    margin: 0;
}

body,
.dropzone,
.uploadcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.uploadcontainer {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 20px 20px #0000002e;
    padding: 30px;
}

.dropzone {
    width: var(--containerwidth);
    min-height: 200px;
    border: 2px dashed var(--bordercolor);
    border-radius: 10px;
    transition: all 1s ease;
}

.dragged.dropzone {
    background: var(--mainbgcolor);
    border-color: #2196f3;
}

.iconcontainer {
    width: 75px;
    height: 100px;
    position: relative;
    transition: all 1 ease-in-out;
}

.iconcontainer img {
    width: 75px;
    position: absolute;
    transform-origin: bottom;
}

.iconcontainer .center {
    z-index: 3;
}

.dragged .iconcontainer .center {
    transform: translateY(-5px);
}

.dragged .iconcontainer .right {
    transform: rotate(10deg) translateX(17px) scale(.9);
    filter: grayscale(.5);
}

.dragged .iconcontainer .left {
    transform: rotate(-10deg) translateX(-17px) scale(.9);
    filter: grayscale(.5);
}

#fileinput {
    display: none;
}

.browsebutton {
    color: #2196f3;
    cursor: pointer;
}

.progresscontainer {
    width: var(--containerwidth);
    height: 70px;
    border: 2px solid var(--mainbgcolor);
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 10px;
    position: relative;
}

.showhide {
    display: none;
}

.progresscontainer .bgprogress {
    background: var(--mainbgcolor);
    width: 0%;
    height: 100%;
    /* transform: scaleX(0); */
    /* transform-origin: left; */
    border-radius: 3%;
    transform-origin: left;
    transition: width .2s linear;
    position: absolute;
    /* z-index: ; */
}

.progresscontainer .innerall {
    position: absolute;
    margin: 10px 15px;
    width: calc(100% - 30px);
}

.percent {
    margin: 5px;
    font-size: 15px;
    opacity: .8;
}

.smallpbbar {
    height: 3px;
    width: 100%;
    margin-top: 5px;
    background-color: #03a9f4;
    border-radius: 2px;
    transform-origin: left;
    transform: scaleX(0);
    transition: all .2s linear;
}

.percentcontainer {
    width: 100%;
}

.linkshare,
.input {
    width: var(--containerwidth);
}

.input {
    position: relative;
}

.linkshare .input input {
    width: 100%;
    border: 2px dashed var(--bordercolor) !important;
    border-radius: 3px;
    padding: 8px 15px;
    box-sizing: border-box;
    font-size: 20px;
    background: #f5fcff;
    color: #0000008c;
}

.input img {
    position: absolute;
    height: 22px;
    width: 30px;
    right: 7px;
    top: 10px;
    background: #f7fdff;
    cursor: pointer;
}

.linkcont {
    display: none;
}

.expire,
p {
    opacity: .7;
    text-align: center;
}

.emailcont {
    /* height: 100px; */
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}

.forminnercont {
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forminnercont form {
    width: 100%;
}